body{
    background: rgba(37, 3, 92, 0.692);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(25, 2, 32);
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);  /* Sobra */

}


#txtinicio, #txtfim, #txtpasso{
    width: 90px;
    box-shadow: 2px 2px 2px rgba(68, 0, 82, 0.836) ;
    background-color: #15001f;
    border: none;
    color:  white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: text;
    border-radius: 20px;
}

.botao-verificar{
    background-color: #15001f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.botao-verificar:hover{
    background-color: #ff9100;
}

#txtinicio:focus, #txtfim:focus, #txtpasso:focus{
    background-color: #ff9100;    
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(8, 8, 8);
}

div{
    text-align: center;
    padding: 8px;
}