.home-display{
    display: flex;
    align-items: center;
}

.input-group{
    margin-bottom: 1em;
    background-color: #ea5167;
    border: 4px solid #472b29e7;
    border-radius: 10px;
    font-size: 1.7em;
    padding: 10px;
    color: #ffffff;
}

.btn-info,
.btn-danger{
    transition: 0.7s ease-in-out !important;
}

.btn-info:disabled,
.btn-danger:disabled{
    background: #ccc !important;
    border: #ccc !important;
}
.jumbotron{
    text-align: center;
    color: #472b29;
    background-color: #c7ede6;
}

.table tr:nth-child(2n){
    background:#c7ede6;
}